.price {
  text-align: center;
}
.price .content .slide-post {
  display: flex;
  width: 42%;
  margin: 0 auto;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.post-align .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center-image {
  display: block;
}
.posts-view .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .price .content {
    flex-direction: column;
  }

  .price .content .box {
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
}
